.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 45px;
    padding: 0px 10px;
}
.footer_logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer_logo p{
    font-size: 25px;
    font-weight: 700px;
    color: #383838;
}
.footer_link{
    display: flex;
    gap: 15px;
}
.footer_link li{
    list-style: none;
    font-size: 18px;
    color: #252525;
    cursor: pointer;
}
.footer_icon{
    display: flex;
    gap: 15px;
}
.footer_icon .icon{
    padding: 10px;
    padding-bottom: 6px;
    border: 1px solid #ebebeb;
    background: #fbfbfb;
    cursor: pointer;
}
.copy_right{
   width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
}
.copy_right hr{
    width: 80%;
    height: 2px;
    margin: auto;
    background-color: #c7c7c7;
}
.copy_right p{
    text-align: center;
    padding: 10px;
    color: #1a1a1a;
    font-size: 15px;
}

/* Responsive design */

/* For mobile devices */

@media only screen and (max-width:480px){
    .footer{
        margin-top: 30px;
    }
    .footer_logo img{
        width: 42px;
    }
    .footer_logo p{
        font-size: 18px;
    }
    .footer_link{
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer_link li{
        font-size: 13px;
    }
    .footer_icon{
        display: flex;
        gap: 15px;
    }
    .footer_icon .icon{
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon img{
        width: 22px;
    }
    .copy_right p{
        font-size: small;
    }

}